# /etc/haproxy/haproxy.cfg

global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor
    option  redispatch
    retries 3

    timeout connect 5000
    timeout client  120000
    timeout server  120000
    timeout http-request 10000
    timeout http-keep-alive 30000

# ==============================================================================
# STATS
# ==============================================================================
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /haproxy?stats
    stats refresh 5s
    stats show-node
    stats auth admin:S3rv1c3.operaciones

# ==============================================================================
# FRONTEND
# ==============================================================================
frontend ott_front
    bind *:80
    mode http

    acl is_live hdr(host) -i live.mundogo.cl
    acl is_vod  hdr(host) -i vod.mundogo.cl

    http-request set-var(req.is_vod) bool(1) if is_vod
    http-request set-var(req.vod_id) path,field(2,/) if is_vod
    http-request set-path %[path,regsub(^/[^/]+/,/)] if is_vod

    http-request set-var(req.canal) path,field(2,/) if is_live

    use_backend %[var(req.canal),lower,map(/etc/haproxy/channels.map,backend_default)] if is_live
    use_backend %[var(req.vod_id),lower,map(/etc/haproxy/vod.map,backend_default)] if is_vod
    default_backend backend_default

# ==============================================================================
# BACKENDS
# ==============================================================================
backend origin_1
    mode http
    balance uri whole
    option forwardfor
    option httpchk
    http-check send meth GET uri /stub_status ver HTTP/1.1 hdr Host origin.mundogo.cl
    http-check expect rstatus 200
    default-server inter 2s rise 2 fall 3 maxconn 60000

    http-request set-header Host origin_vod.mundogo.cl if { var(req.is_vod) -m bool }
    http-request set-header Host origin.mundogo.cl if !{ var(req.is_vod) -m bool }

    http-response set-header X-Upstream-Origin %s
    http-response set-header X-Origin-Pool "origin_1"

    server srv_origin_1 10.85.105.66:80 check inter 2s rise 2 fall 3 maxconn 60000
    server srv_origin_3 10.85.105.74:80 check inter 2s rise 2 fall 3 maxconn 60000 backup

backend origin_2
    mode http
    balance uri whole
    option forwardfor
    option httpchk
    http-check send meth GET uri /stub_status ver HTTP/1.1 hdr Host origin.mundogo.cl
    http-check expect rstatus 200
    default-server inter 2s rise 2 fall 3 maxconn 60000

    http-request set-header Host origin_vod.mundogo.cl if { var(req.is_vod) -m bool }
    http-request set-header Host origin.mundogo.cl if !{ var(req.is_vod) -m bool }

    http-response set-header X-Upstream-Origin %s
    http-response set-header X-Origin-Pool "origin_2"

    server srv_origin_2 10.85.105.70:80 check inter 2s rise 2 fall 3 maxconn 60000
    server srv_origin_4 10.85.105.78:80 check inter 2s rise 2 fall 3 maxconn 60000 backup

backend origin_3
    mode http
    balance uri whole
    option forwardfor
    option httpchk
    http-check send meth GET uri /stub_status ver HTTP/1.1 hdr Host origin.mundogo.cl
    http-check expect rstatus 200
    default-server inter 2s rise 2 fall 3 maxconn 60000

    http-request set-header Host origin_vod.mundogo.cl if { var(req.is_vod) -m bool }
    http-request set-header Host origin.mundogo.cl if !{ var(req.is_vod) -m bool }

    http-response set-header X-Upstream-Origin %s
    http-response set-header X-Origin-Pool "origin_3"

    server srv_origin_3 10.85.105.74:80 check inter 2s rise 2 fall 3 maxconn 60000
    server srv_origin_2 10.85.105.70:80 check inter 2s rise 2 fall 3 maxconn 60000 backup

backend origin_4
    mode http
    balance uri whole
    option forwardfor
    option httpchk
    http-check send meth GET uri /stub_status ver HTTP/1.1 hdr Host origin.mundogo.cl
    http-check expect rstatus 200
    default-server inter 2s rise 2 fall 3 maxconn 60000

    http-request set-header Host origin_vod.mundogo.cl if { var(req.is_vod) -m bool }
    http-request set-header Host origin.mundogo.cl if !{ var(req.is_vod) -m bool }

    http-response set-header X-Upstream-Origin %s
    http-response set-header X-Origin-Pool "origin_4"

    server srv_origin_4 10.85.105.78:80 check inter 2s rise 2 fall 3 maxconn 60000
    server srv_origin_1 10.85.105.66:80 check inter 2s rise 2 fall 3 maxconn 60000 backup

backend backend_default
    mode http
    http-request deny deny_status 404
